---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

  :root {
    --background: #070707;
    --default: #ff9d42;
  }

  html {
    background: var(--background);
  }

  body {
    margin: 0;
  }

  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 96vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 12px;
    padding: 12px;
  }

  .color {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    border-radius: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
  }

  .video {
    position: absolute;
    bottom: 16px;
    right: 14px;
    width: 385px;
    aspect-ratio: 16 / 9;
    border-radius: 16px;
  }

  .grid h3 {
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    rotate: -90deg;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: -8px;
  }

  .grid h1 {
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  @media only screen and (max-width: 500px) {
    .grid {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .grid h3 {
      rotate: 0deg;
      margin: 0px;
    }
  }

  @media only screen and (max-width: 413px) {
    .video {
      right: 14px;
      left: 14px;
      width: -webkit-fill-available;
    }
  }
</style>
