@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  --background: #070707;
  --default: #ff9d42;
}

html {
  background: var(--background);
}

body {
  margin: 0;
}

.grid {
  display: flex;
  justify-content: space-between;
  height: 96vh;
  align-items: center;
  gap: 12px;
  padding: 12px;
}

.color {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

.grid h3 {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  rotate: -90deg;
  height: min-content;
  margin: -8px;
}

.grid h1 {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@media only screen and (max-width: 500px) {
    .grid {
        flex-direction: column;
    }
    .grid h3 {
        rotate: 0deg;
        margin: 0px;
      }
} 